<div class="center jumbotron">
  <% if logged_in? %>
    <%= gravatar_for current_user %>
    <h1><%= t("greeting") %><%= current_user.name.upcase %></h1>
      <table class="table">
        <thead>
          <tr>
            <th class="center"><%= link_to t("word_list"), words_path,
              class: "btn btn-lg btn-primary" %></th>
            <th class="center"><%= link_to t("category"), "#",
              class: "btn btn-lg btn-primary" %></th>
          </tr>
        </thead>
      </table>
  <% else %>
    <h1><%= t("welcome") %></h1>
    <h2>
      <%= t("contentHome") %>
    </h2>
    <%= link_to t("signup"), signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
